-----BEGIN CERTIFICATE-----
MIIDBjCCAe4CCQCU6bCkDJLXQjANBgkqhkiG9w0BAQsFADBFMQswCQYDVQQGEwJB
VTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0
cyBQdHkgTHRkMB4XDTE1MDYyOTA5MjIxNVoXDTI1MDYyNjA5MjIxNVowRTELMAkG
A1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0
IFdpZGdpdHMgUHR5IEx0ZDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
AL0O8GTXLG5GwjiWltcey6ZoTyZ4pNu9jmWAU7ZS1pmqykOT2dctQpzFFiKaP0Z+
NrE7T1V4NFDQleL4nuGMnyyvLBICAwxy/BEfUjHvnaJnvb8gpxA8b4vfd1iuIZqM
0p/C47jd0L8btlHfP61yqx4MCZoiSsbDMLQSdueBuax+xScV9n1LBKTHGfYqIweu
EoTN7iXpklE0A9SQIqBi5WBN4qSYoZbfmkldrWV7DCkRaTeRuX5DUveUEQtkk4En
NYIE+VLYP6W8OoC1+3fqn8tAB67MfCVFNhb98gBunmStwVa0HcCi4jydjaOduLBu
jetzJm9CkNnq4ar4AGro33cCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAns5qgbyb
/qMqnS8wXLyX4YpK+ZWwT49nuAcs1pm4MVyJSLrcV9FURucCdOrltFet1OAstXS8
BgtYg6R95MPGNqnCb695jnxeb7HyBQUdc9KMpZmvyjSgDkca2HVrga3GgZfFJxY0
hC8qmN3saKr3IqL6qpMwqfIe739kQkmU5Skm3+Ztyn2LEOEsJKNVmeFxfyfRkR6g
mla0ShM8m73qLDuCKtqeiokzyMwND27RXkv/i/uZA3dMxJ774lma/Wcsqj94ACnQ
8YuT0yaz8DRaK44wrzqQ+/saQa/gd6+fbg+QF8KnOvRghwJr9P9kO4pm324DdtzP
Rdx7MZ4gRgN0nA==
-----END CERTIFICATE-----
